@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
.logo {
    margin: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 4rem;
    background: linear-gradient(to bottom, black, black 60%, black 60%, black 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    white-space: nowrap;
    transition: background 0.2s ease-out;
    margin-left: 45%;
    margin-top: 50px;
    overflow: hidden;
    font: bold 300% 'Oswald', monospace;
    border-right: .1em solid black;
    width: 16.5em;
    width: 8.5ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(35, end), blink-caret .5s step-end 2;
    border-right: .15em solid transparent;
}

.logo:hover {
    background-position: 20 0px;
    text-decoration: underline;
    text-shadow: 0px 1px rgb(255, 255, 255);
}

a.button-header {
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 1em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 380;
    margin-left: 15%;
    transition: all 0.2s;
    width: max-content;
}

a.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: underline;
}




.product-text {
    text-align: center;
}

.background {
    height: 100%;
    /* max-height: 600px; */
    width: 100%;
    background-color: hsla(200, 40%, 30%, .4);
    background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
    background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
}






.navbar {
    overflow: hidden;
    background-color: #333;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

a.userHello:hover {
  background-color:#333;
  box-shadow: none;
}
